.container{

    color:brown;
    background-color:beige;

}

.header{

    color:chocolate;
    background-color:blanchedalmond;
}










































































